# Group By

In [2]:
import pandas as pd
import numpy as np
# create data
stuff = {
    'Corporation':['Apple','Google','Meta','Apple','Google','Meta'],
    'Employees':['John','April','Wes','Beth','Justin','Steph'],
    'Salary':[200,220,190,130,120,150]
}

# create datafram
my_df = pd.DataFrame(stuff)
my_df

  Corporation Employees  Salary
0       Apple      John     200
1      Google     April     220
2        Meta       Wes     190
3       Apple      Beth     130
4      Google    Justin     120
5        Meta     Steph     150

In [3]:
# group by corporation - to get object locaion in memory
company = my_df.groupby('Corporation')
company

In [6]:
# sum
company.sum()

               Employees  Salary
Corporation
Apple           JohnBeth     330
Google       AprilJustin     340
Meta            WesSteph     340

In [9]:
# mean
company['Salary'].mean()

Corporation
Apple     165.0
Google    170.0
Meta      170.0
Name: Salary, dtype: float64

In [10]:
company.max()

            Employees  Salary
Corporation
Apple            John     200
Google         Justin     220
Meta              Wes     190

In [11]:
company.std()

TypeError: dtype 'str' does not support operation 'std'

In [12]:
company['Salary'].std()

Corporation
Apple     49.497475
Google    70.710678
Meta      28.284271
Name: Salary, dtype: float64

In [14]:
# describe
company.describe()

            Salary
             count   mean        std    min    25%    50%    75%    max
Corporation
Apple          2.0  165.0  49.497475  130.0  147.5  165.0  182.5  200.0
Google         2.0  170.0  70.710678  120.0  145.0  170.0  195.0  220.0
Meta           2.0  170.0  28.284271  150.0  160.0  170.0  180.0  190.0