# Series

### Panda series = like a table column - 1 dimensional array holding any type of data

In [ ]:
import pandas as pd

In [ ]:
my_series = [5,9,12,27]
my_var = pd.Series(my_series)
my_var

0     5
1     9
2    12
3    27
dtype: int64

In [ ]:
# print specific value
my_var[2]

np.int64(12)

In [ ]:
# labes using the index arguement
my_index = ["A","B","C","D"]
my_var2 = pd.Series(my_series, my_index)
my_var2

A     5
B     9
C    12
D    27
dtype: int64

In [ ]:
my_var2["B"]

np.int64(9)

In [ ]:
# key valye dictionary
cars ={"Tesla":12, "Mercedes":40, "BMW":3}
my_var3 = pd.Series(cars)
my_var3

Tesla       12
Mercedes    40
BMW          3
dtype: int64